# =========================
# Build artifacts (CMake)
# =========================
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =========================
# Compiled binaries / objects
# =========================
*.o
*.a
*.so
*.out
shell

# =========================
# Editor / OS junk
# =========================
*:Zone.Identifier
.DS_Store
Thumbs.db

# =========================
# IDE / editor config
# =========================
.vscode/
.idea/

# =========================
# Temporary / backup files
# =========================
*~
*.swp
*.tmp
